{% extends "base.html" %}

{% block content %}

<div class="card shadow-sm p-4">

    <div class="text-center">

        <img src="{{ profile.avatar.url }}"
             class="rounded-circle"
             width="150"
             height="150">

        <h2 class="mt-3">
            {{ profile.user.username }}
        </h2>

        <div class="mt-3">
    <span class="me-3">
        <a href="{% url 'connections' profile.user.username 'followers' %}">
    <strong>{{ followers_count }}</strong> Followers
        </a>
    </span>

    <span>
        <a href="{% url 'connections' profile.user.username 'following' %}">
    <strong>{{ following_count }}</strong> Following
       </a>
    </span>
    </div>

        {% if user.is_authenticated and user != profile.user %}

            <form method="POST"
                  action="{% url 'follow_user' profile.user.username %}">

                {% csrf_token %}

                {% if is_following %}
                    <button type="submit" class="btn btn-secondary mt-2">
                        Following
                    </button>
                {% else %}
                    <button type="submit" class="btn btn-primary mt-2">
                        Follow
                    </button>
                {% endif %}

            </form>

        {% endif %}

        <p>{{ profile.bio }}</p>

        <p>
            📍 {{ profile.location }}
        </p>

        <p>
            🌐
            <a href="{{ profile.website }}">
                {{ profile.website }}
            </a>
        </p>

    </div>

</div>

<hr>

<h3>
    Tweets
</h3>

{% for tweet in tweets %}

    <div class="card mt-3 p-3">

        <p>{{ tweet.text }}</p>

        {% if tweet.photo %}
            <img src="{{ tweet.photo.url }}" class="img-fluid">
        {% endif %}

        <small>
            {{ tweet.created_at }}
        </small>

    </div>

{% empty %}

    <p>No Tweets Yet.</p>

{% endfor %}

{% endblock %}