{% extends "base.html" %}

{% block content %}

<h1 class="mb-4">Recent Tweets</h1>

{% for tweet in tweets %}

<div class="card shadow-sm mb-4 border-0 rounded-4">

    <div class="card-body">

        <h5 class="card-title">
             👤 {% if tweet.user %}
             {{ tweet.user.username }}
             {% else %}
               Anonymous
            {% endif %}
        </h5>

        <p class="card-text fs-5">
            {{ tweet.text }}
        </p>

        {% if tweet.user == request.user %}
        <a href="{% url 'tweet_edit' tweet.id %}"
           class="btn btn-outline-primary btn-sm">
           Edit
        </a>
        {% endif %}

        <a href="#" class="btn btn-outline-danger btn-sm">
            Delete
        </a>

    </div>

</div>

{% empty %}

<div class="alert alert-info">
    No tweets yet.
</div>

{% endfor %}

{% endblock %}